*.*
!*.meta
!Animations/*/*.anim
!Animations/*/*.md
!Animations/*/*.anim.meta
!Animations/*/*.md.meta


!Animations/README.md


!AnimatorControllers/*.controller
!AnimatorControllers/*.overridecontroller
!AnimatorControllers/*.controller.meta
!AnimatorControllers/*.overridecontroller.meta

!AnimatorControllers/*.md
!AnimatorControllers/README.md

!.gitignore