*.*
!Background/*.png
!Enemies/*.png
!Friends/*.png
!Others/*.png

!Background/*.png.meta
!Enemies/*.png.meta
!Friends/*.png.meta
!Others/*.png.meta

!Background/README.md
!Enemies/README.md
!Friends/README.md
!Others/README.md

!.gitignore
!README.md